/.blobs
/.dev_builds
/.final_builds/jobs/**/*.tgz
/.final_builds/packages/**/*.tgz
/blobs
rspec.xml
/config/dev.yml
/config/private.yml
/dev_releases
/releases/**/*.tgz
/releases/*.tgz
vendor/*
.envrc
secrets/
bosh_releases/
