[submodule "src/cf-redis-broker"]
	path = src/cf-redis-broker
	url = https://github.com/pivotal-cf/cf-redis-broker.git
[submodule "packages/ruby"]
	path = packages/ruby
	url = https://github.com/cloudfoundry/ruby-package.git
[submodule "src/cf-redis-smoke-tests"]
	path = src/cf-redis-smoke-tests
	url = https://github.com/pivotal-cf/cf-redis-smoke-tests.git
[submodule "src/route-registrar"]
	path = src/route-registrar
	url = https://github.com/cloudfoundry-incubator/route-registrar.git
